@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(wetter.msn.com) {
#weathermap,#head,#nav,#subhead,#Breadcrumb,/*.parent.chrome29.single1.weasearch.customcontainer.blue,/*#Current,*/#MehrUeber,#area2,#subfoot,#foot,#tptrck,#__mcnnav,#navCollPart,#postarea1,.nav_hover,.parent.chrome24.single1.weamap.customcontainer.blue,#reporting,.heading.alignright,.wearss,.observedat.firstleft, #mediaarea > DIV:first-child > DIV:last-child > NOSCRIPT {
display: none !important;

}

#area1, #mediaarea {
background-color: #BFEFFF !important;
}

body{
overflow: hidden !important;
margin-left: -25px !important;
}
}