/* AGENT_SHEET */

@namespace url(http://www.w3.org/1999/xhtml);

 	@-moz-document url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/") {
	#header, H1,H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3, .uk-panel.uk-panel-box.uk-margin, #wkFooter2, .div_part, .uk-grid.uk-grid-small.uk-grid-divider {display: none !important;}
	
	#content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A, 
	#content > DIV > DIV:first-child > H1, 
	#content > DIV > DIV:first-child > ARTICLE > H2:nth-child(8), 
	#content > DIV > DIV:first-child > ARTICLE > H2:nth-child(10),
	.uk-width-small-1-2.uk-width-medium-1-2, .cc_banner.cc_container.cc_container--open,
	.uk-panel.uk-panel-box{display: none !important;}
	
	#page_margins { margin-top: -115px !important;}
	
		
	#content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > UL:last-child {margin-top: 100px !important; margin-bottom: -45px !important;} 
	
	#wkRCol > TABLE > TBODY > TR > TD:first-child > DIV > DIV:nth-child(8), #wkRCol > TABLE > TBODY > TR > TD:first-child > DIV > DIV:nth-child(9) {
	width: 0px !important;}
	
	body {overflow: hidden !important;}
	}
	
	@-moz-document url-prefix("http://www.wetterkontor.de/de/aktuelle-werte-deutschland-wetter.asp"),
	               url-prefix("http://www.wetterkontor.de/de/aktuelle-werte-deutschland-temperatur.asp"),
				   url-prefix("http://www.wetterkontor.de/de/aktuelle-werte-deutschland-wind.asp"),
				   url-prefix("http://www.wetterkontor.de/de/aktuelle-werte-deutschland-druck.asp"),
				   url-prefix("http://www.wetterkontor.de/de/aktuelle-werte-deutschland-feuchte.asp")
				   {
	#header, H1, H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-text-right.uk-text-small.uk-text-muted,
	.uk-panel.uk-panel-box.uk-margin, #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:first-child > A,
    .cc_banner.cc_container.cc_container--open	{display: none !important;}	
		
	body {overflow: hidden !important; margin-top: -55px !important;}
		
	}
		
	@-moz-document url-prefix("http://www.wetterkontor.de/de/bio/uv-index.asp")	{
		
	#header, H1, H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-text-right.uk-text-small.uk-text-muted,
	.uk-panel.uk-panel-box.uk-margin, .uk-width-large-2-5.uk-width-medium-1-2, H5, .cc_banner.cc_container.cc_container--open	{display: none !important;}	
	
	body {overflow: hidden !important; }	
	}
	
 	@-moz-document url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-hasel.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-erle.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-birke.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-graeser.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-ambrosia.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-beifuss.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-roggen.asp"),
	               url-prefix("http://www.wetterkontor.de/de/bio/pollenflug-esche.asp")	{
		
	#header, H1, H2, P,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb, .uk-width-large-2-5.uk-width-medium-1-3,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-text-right.uk-text-small.uk-text-muted,
	.uk-panel.uk-panel-box.uk-margin, .uk-width-large-2-5.uk-width-medium-1-2, H5, TABLE, .uk-panel.uk-panel-box.uk-panel-box-primary,
	.cc_banner.cc_container.cc_container--open {display: none !important;}	
	
	body {overflow: hidden !important; }	
	} 
	
	@-moz-document url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=BY"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=BW"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=BB"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=HE"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=MV"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=NS_HB"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=NRW"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=RP_SL"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=SN"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=SA"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=SH_HH"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=TH"){
		
	#header,H1, .uk-width-large-2-5.uk-width-medium-1-3.uk-hidden-small, .uk-text-right,  #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-panel.uk-panel-box.uk-margin,
    #content > DIV > DIV:first-child > P:nth-child(2), .cc_banner.cc_container.cc_container--open	{display: none !important;}	
	
	body {overflow: hidden !important; }	
	
	#karte {margin-left: -100px !important;}
	}
	
	@-moz-document url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=BW"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=BB"),
				   url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=BY"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=HE"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=MV"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=NS_HB"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=NRW"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=RP_SL"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=SN"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=SA"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=SH_HH"),
	               url-prefix("http://www.wetterkontor.de/warnungen/land.asp?c=TH"){
					   
	DIV[class="warnungen_box uk-panel uk-panel-box uk-panel-box-primary"]{margin-top: -295px !important;  }
	}
	
	@-moz-document url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/bayern.asp"),                                  
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/schleswigholstein.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/badenwuerttemberg.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/berlin.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/brandenburg.asp"),                                  
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/bremen.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/hamburg.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/hessen.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/mecklenburgvorpommern.asp"),                                  
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/niedersachsen.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/nordrheinwestfalen.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/rheinlandpfalz.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/saarland.asp"),                                  
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/sachsen.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/sachsenanhalt.asp"),
                   url-prefix("http://www.wetterkontor.de/de/wetter/deutschland/thueringen.asp"){
       body {margin-top: 20px !important; }
          
       #content > DIV > DIV:first-child > DIV:nth-child(3) > UL:last-child > LI:first-child  {margin-top: 95px !important; margin-bottom: -45px !important;}
       #content > DIV > DIV:first-child > DIV:nth-child(3) > UL:last-child > LI:last-child  {margin-top: 95px !important; margin-bottom: -45px !important;}
       }
		
	@-moz-document url-prefix("http://www.wetterkontor.de/de/wetter/europa/"){
	#header,H1, H2, .uk-width-large-2-5.uk-width-medium-1-3, .uk-text-right, .uk-text-muted, #content > DIV > DIV:first-child > ARTICLE > DIV:nth-child(3) > DIV:first-child > UL > LI:last-child, .uk-breadcrumb,  #wkFooter2, #content > DIV > DIV:first-child > DIV:nth-child(5), .uk-panel, .div_part,
    #content > DIV > DIV:first-child > P:nth-child(2), .uk-grid.uk-grid-small.uk-grid-match, .cc_banner.cc_container.cc_container--open{display: none !important;}	
	
	body {overflow: hidden !important;}
	}

@-moz-document domain(www.msn.com) {
	.head,#conditionalbanner,.maps,.pagingsection,#foot,.historical,NOSCRIPT,.addfavorite,.gps,.actions,#precontent{
		display: none! important;
	}
	div.outer:nth-child(2) {
		margin-left: 50px !important;
	}
	body {
		overflow: hidden !important;
	}
}

@-moz-document domain(www.daswetter.com) {
	#titulo,#menu_horizontal,.caja_boton,#derecha,#pie,#cabezera_directorio,.tools,#izquierda > UL > LI:nth-child(5),#izquierda > UL > LI:nth-child(7),.top,#izquierda > UL:last-child > LI:last-child > DIV:last-child > UL,#izquierda > UL:last-child > LI:last-child > DIV:last-child > A > IMG,#p-sup,.nav-sup,.tiempo.l-de,.gota.breadcrumb,.der,.chart,.social,#p2-pred,.mapMet,.f-text,FOOTER,NOSCRIPT,H2,.alerts.av-1,.f-city,.tCook,#bottom_newsletter {
		display: none !important;
	}
	.pred{
		margin-bottom: 5px !important;
	}
	#cookies {
		margin-right: 20px !important;
	}
	.ctemp,.loc.c1,.loc.c2,.loc.c3,.loc.c4 {
		margin-right: 30px !important;
	}
	body {
		overflow: hidden !important;
	}
}

@-moz-document domain(www.meteocentrale.ch) {
	#header,#top,#left,#c8548,#right,#footer,#wetterapp_border > NOSCRIPT,#content > H1,#page > NOSCRIPT{
		display: none !important;
	}
	#wetterapp_border{
		margin-left: -30px !important;
		margin-top: -10px !important;
	}
	body {
		overflow: hidden !important;
	}
}

@-moz-document domain(www.wetter.net) {
	#menu,.rahmen,.schatten_links,.schatten_rechts,#breadcrumb,#content_home_titel > TBODY > TR > TD > DIV:nth-child(2),#container_ortszeit,#content_links > TABLE:last-child > TBODY > TR > TD > TABLE:nth-child(2),#content_links > TABLE:last-child > TBODY > TR > TD > TABLE:last-child,#rahmen_inhalt > TABLE > TBODY > TR:last-child,#topmenu > TBODY > TR:first-child,#zeitClient_Container,#buehne,#content_links > TABLE:first-child,#rahmen_inhalt > TABLE > TBODY > TR:nth-child(2),#rahmen_inhalt > TABLE > TBODY > TR:first-child,#wetterseite > NOSCRIPT,.tab_infos.inaktiv,#content_links > TABLE:last-child > TBODY > TR > TD > B,#content_links > TABLE:last-child > TBODY > TR > TD > A, #rahmen_inhalt > TABLE > TBODY > TR:nth-child(4), #rahmen_inhalt > TABLE > TBODY > TR:nth-child(5){
		display: none !important;
	}
	#topmenu {
		background: none !important;
		margin-bottom: -60px !important;
	}
	#topmenu > TBODY > TR:last-child > TD > FORM > TABLE{
		margin-top: 50px !important;
		margin-left: 615px !important;
	}
	#content_home_titel{
		width: 450px !important;
	}
	#rahmen_inhalt{
		width: 820px !important;
		margin-top: -70px !important;
	}
	body {
		overflow: hidden !important;
	}
}
